{#<div class="sidebar p-5 px-lg-0 py-lg-11" data-kt-drawer="true" data-kt-drawer-name="sidebar"#}
{#         data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="100px"#}
{#         data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_sidebar_toggle">#}
{##}
{#        <div class="card bg-light mb-5 mb-lg-10 shadow-none border-0">#}
{#            <div class="card-header align-items-center border-0">#}
{#                <h3 class="card-title fw-bolder text-gray-900 fs-3">操作</h3>#}
{#            </div>#}
{#            <div class="card-body pt-0">#}
{#                <div class="d-flex mb-5">#}
{#                    <a href="#" class="text-gray-700 text-hover-primary fs-6 fw-bold">比賽設定</a>#}
{#                </div>#}
{#                <div class="d-flex mb-5">#}
{#                    <a href="#" class="text-gray-700 text-hover-primary fs-6 fw-bold">比賽設定</a>#}
{#                </div>#}
{##}
{##}
{##}
{##}
{#            </div>#}
{#        </div>#}
{#        <div class="card bg-light mb-5 mb-lg-10 shadow-none border-0">#}
{#            <div class="card-header align-items-center border-0">#}
{#                <h3 class="card-title fw-bolder text-gray-900 fs-3">Latest Tutorials</h3>#}
{#            </div>#}
{#            <div class="card-body pt-0">#}
{#                <div class="d-flex mb-5">#}
{#                    <a href="../../demo5/dist/apps/devs/question.html"#}
{#                       class="text-gray-700 text-hover-primary fs-6 fw-bold">How to use customize Metronoc's SASS</a>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% if user.role == 1 or user.role == 2 %}
    <div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-name="aside"
         data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
         data-kt-drawer-width="{default:'200px', '300px': '225px'}" data-kt-drawer-direction="start"
         data-kt-drawer-toggle="#kt_aside_toggle" data-kt-sticky="true" data-kt-sticky-name="aside-sticky"
         data-kt-sticky-offset="{default: false, lg: '1px'}" data-kt-sticky-width="{lg: '225px'}"
         data-kt-sticky-left="auto" data-kt-sticky-top="94px" data-kt-sticky-animation="false"
         data-kt-sticky-zindex="95">
        <div class="hover-scroll-overlay-y my-5 my-lg-5 w-100 ps-4 ps-lg-0 pe-4 me-1" id="kt_aside_menu_wrapper"
             data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
             data-kt-scroll-dependencies="#kt_header" data-kt-scroll-wrappers="#kt_aside" data-kt-scroll-offset="5px">
            <div class="menu menu-column menu-active-bg menu-hover-bg menu-title-gray-700 fs-6 menu-rounded w-100"
                 id="#kt_aside_menu" data-kt-menu="true">
                <div class="menu-item">
                    <div class="menu-content pb-2"><span class="menu-section text-muted text-uppercase fs-7 fw-bolder">操作</span>
                    </div>
                </div>
                <div class="menu-item"><a href="{% url 'setting' %}" class="menu-link "><span class="menu-title">比賽設定</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">輸入成績</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">修改教練資料</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">賽程表重新編組</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">重新產生選手號碼</span></a></div>

                <div class="menu-item pt-5">
                    <div class="menu-content pb-2"><span class="menu-section text-muted text-uppercase fs-7 fw-bolder">資訊</span>
                    </div>
                </div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">選手總冊</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">賽程表</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">分組名冊</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">隊伍名冊</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">單位名冊</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">獎牌數量</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">對帳單</span></a></div>

                <div class="menu-item pt-5">
                    <div class="menu-content pb-2"><span class="menu-section text-muted text-uppercase fs-7 fw-bolder">匯出</span>
                    </div>
                </div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">檢錄手寫單</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">賽後成績</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">分組名冊</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">隊伍名冊</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">選手號碼布列表</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">雙人花式繞樁評分表</span></a>
                </div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">個人花式繞樁評分表</span></a>
                </div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">指定套路評分表</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">花樁總匯表</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">花樁罰分紀錄</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">花樁紀錄</span></a></div>
                <div class="menu-item"><a href="#" class="menu-link "><span class="menu-title">下載套路音樂檔</span></a></div>
            </div>
        </div>
    </div>
{% endif %}